*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  color: $color-body-text;
  @extend %font-secondary;
  @include font($size: 1.6rem, $height: 2.4rem);
  background-color: #111111FF;
}

.header {
  height: 5vh;
  background-color: #424242;
}

.main {
  height: 92vh;
  //background-color: #bbb9b9;
}

.footer {
  height: 3vh;
  background-color: #285032;
}