$color-bg_body: #111111FF;
$color-body-text: #fff;
$color-primary: #F1CDB3;
$color-light-text: #FFFFFF;
$color-dark-text: #545454;
$color-nav-text: #CDCDCD;
$color-nav-text_hover: #FAFAFA;
$color-btn-border: #F1CDB3;
$color-dark-btn-text: #292929;
$color-btn-bg-hov: #FDDCC4;
$color-friends-bg: #F6F6F6;
$color-addition-bank: #B2B2B2;

$color-hamburger-bg: #292929;
$color-text_colored: #E06733;
$color-bg_secondary: #EDF2EC;

//$desktop-width: 1280px;
$desktop-width: 1279px;
$desk-tab-width: 1175px;

//$tablet-width: 768px;
$tablet-width: 767px;

//$mobile-width: 320px;
$mobile-width: 640px;