%font-primary {
  font-family: 'Georgia', Georgia, sans-serif;
}

%font-secondary {
  font-family: 'Arial', Arial, sans-serif;
}

%font-time {
  font-family: 'Arial-MT', sans-serif;
}

%transition {
  transition: all .5s ease-in;
}