.hamburger-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #414142;
  border-radius: 50%;
  background-color: #414142;
  &:hover {
    background-color: #2a2a2a;
  }
}

.hamburger-line {
  width: 40px;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  top: 11px;
  position: relative;
}

.hamburger-line span {
  width: 20px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.hamburger-line span:nth-of-type(2) {
  top: calc(50% + 0px);
}
.hamburger-line span:nth-of-type(3) {
  top: calc(50% + 8px);
}