.nav-menu {
  width: 12vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #252525;
  margin: 10px 0;
  padding-top: 10px;
}

.nav-menu.active {
  width: 40px;
  overflow: hidden;
  &:hover {
    width: 40px;
  }
}

.menu__content li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  &:hover {
    border-radius: 0 10px 10px 0;
    background-color: #42d312;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  min-height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  margin-left: 10px;
}

.icon_timing {
  background-image: url("../../assets/icon/cont-email.svg");
}

.icon_kit {
  background-image: url("../../assets/icon/cont-phone.svg");
}

.icon_equipment {
  background-image: url("../../assets/icon/cont-map.svg");
}

.icon_employee {
  background-image: url("../../assets/icon/cont-discord.svg");
}

.contact_telegram {
  background-image: url("../../assets/icon/cont-telegram.svg");
}

.contact_git {
  background-image: url("../../assets/icon/cont-github.svg");
}

.menu a {
  width: 160px;
  color: #FFFFFF;
  text-decoration-line: none;
  cursor: pointer;
}