.main {
  display: flex;
  //background-color: #bbb9b9;
  margin: 0 20px;
}

.schedule {
  width: 100%;
  padding-left: 10px;
}

.select-week {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.select-week_current {
  width: 25%;
  color: #42d312;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 3.0rem, $height: 3.0rem, $weight: 400);
}

.select-week__prev, .select-week__next {
  width: 30px;
  height: 13px;
  display: block;
  cursor: pointer;
}

.arrow-left-svg {
  cursor: pointer;
  &:hover {
    .arrow-path {
      fill: #414141FF;
    }
  }
}

.arrow-right-svg {
  cursor: pointer;
  transform: rotateY(180deg);
  &:hover {
    .arrow-path {
      fill: #414141FF;
    }
  }
}

.select-week__next {
  background: url("../../assets/icon/icos-v2.png") -40px -185px;
  &:hover {
    background: url("../../assets/icon/icos-v2.png") -40px -170px;
  }
}

.week-lines {
  height: 30px;
  display: flex;
  margin-left: 214px;
}

.week-day__line-dark {
  width: 202px;
  background-color: #111112;
}

.week-day__line-light {
  width: 210px;
  height: 830px;
  background-color: #333333;
}

.week-day__date {
  color: #0059ff;
  margin-top: 10px;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 2.0rem, $height: 2.0rem, $weight: 400);
}

.week-content {
  max-height: 790px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #2C2C2CFF;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #818181FF;
  }
}

.kit-week {
  display: flex;
  margin: 0 0 10px;
}

.card-kit__name {
  margin: auto;
  @extend %font-secondary;
  @include font($size: 3.5rem, $height: 3.5rem, $weight: 600);
}

.card-week {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  column-gap: 16px;
}

.card-kit,.card-day {
  display: flex;
  flex-direction: column;
  width: 190px;
  border: 1px solid white;
  border-radius: 10px;
  background: $color-dark-text;
}

.card__time {
  color: #dcbb14;
  margin: 5px 10px;
  text-align: center;
  @extend %font-time;
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 600);
}

.card__text {
  color: white;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 1.6rem, $height: 1.6rem);
}

.card__line {
  width: 170px;
  margin: 1px 10px 5px;
  border-top: 1px solid #FFFFFF;
}