.main {
  display: flex;
  //background-color: #bbb9b9;
  margin: 0 20px;
}

.schedule {
  width: 100%;
  padding-left: 10px;
}

.select-week {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.select-week_current {
  width: 25%;
  color: #42d312;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 3.0rem, $height: 3.0rem, $weight: 400);
}

.select-week__prev, .select-week__next {
  width: 30px;
  height: 13px;
  display: block;
  cursor: pointer;
}

.arrow-left-svg {
  cursor: pointer;
  &:hover {
    .arrow-path {
      fill: #414141FF;
    }
  }
}

.arrow-right-svg {
  cursor: pointer;
  transform: rotateY(180deg);
  &:hover {
    .arrow-path {
      fill: #414141FF;
    }
  }
}

.days-lines {
  height: 30px;
  display: flex;
  margin-right: 10px;
}

.label-dummy {
  display: flex;
  min-width: 190px;
  margin-right: 20px;
}

.label-days {
  width: 86.5%;
  display: flex;
  justify-content: space-around;
}

.day-line__dark {
  width: 50%;
  height: 830px;
  //background-color: #d7d56f;
  z-index: -1;
}

.day-line__light {
  width: 50%;
  height: 830px;
  background-color: #333333;
  z-index: -1;
}

.day-label__date {
  color: #0059ff;
  margin-top: 10px;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 2.0rem, $height: 2.0rem, $weight: 600);
}



.week-content {
  max-height: 790px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #2C2C2CFF;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #818181FF;
  }
}

.kit-week {
  display: flex;
  margin-bottom: 20px;
}

.card-kit__name {
  margin: auto;
  @extend %font-secondary;
  @include font($size: 3.5rem, $height: 3.5rem, $weight: 600);
}

.card-week {
  width: 86.5%;
  display: flex;
  justify-content: space-around;
}

.card-kit,.card-day {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  border: 1px solid white;
  border-radius: 10px;
  background: $color-dark-text;
}

.card-kit {
  margin-right: 20px;
}

.card__time {
  color: #dcbb14;
  margin: 5px 10px;
  text-align: center;
  @extend %font-time;
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 600);
}

.card__text {
  color: white;
  text-align: center;
  @extend %font-secondary;
  @include font($size: 1.6rem, $height: 1.6rem);
}

.card__line {
  width: 170px;
  margin: 1px 10px 5px;
  border-top: 1px solid #FFFFFF;
}